In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\jkhro\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\jkhro\anaconda3\lib\site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in c:\users\jkhro\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\jkhro\anaconda3\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: colorama in c:\users\jkhro\anaconda3\lib\site-packages (from click->opendatasets) (0.4.5)
Requirement already satisfied: urllib3 in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.11)
Requirement already satisfied: requests in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: six>=1.10 in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (2022.9.14)
Requirement already satisfied: python-dateutil in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\jkhro\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\jkhro\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jkhro\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jkhro\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)

In [2]:
import opendatasets as od

In [3]:
dataset = 'https://www.kaggle.com/datasets/mylesoneill/game-of-thrones'

In [4]:
od.download(dataset)

Skipping, found downloaded files in ".\game-of-thrones" (use force=True to force download)

In [5]:
import os

In [6]:
data_dir = '.\game-of-thrones'

In [7]:
os.listdir(data_dir)

['.ipynb_checkpoints']

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [9]:
df = pd.read_csv('character-predictions.csv')

In [10]:
df.head()

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,DateoFdeath,mother,father,heir,house,spouse,book1,book2,book3,book4,book5,isAliveMother,isAliveFather,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,NaN,Rhaenyra Targaryen,Daemon Targaryen,Aegon IV Targaryen,NaN,NaN,0,0,0,0,0,1.0,0.0,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,NaN,NaN,NaN,NaN,House Frey,Perra Royce,1,1,1,1,1,NaN,NaN,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,NaN,NaN,NaN,NaN,House Swyft,NaN,0,0,0,1,0,NaN,NaN,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,105.0,NaN,NaN,NaN,House Arryn,Viserys I Targaryen,0,0,0,0,0,NaN,NaN,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,NaN,NaN,NaN,NaN,House Santagar,Eldon Estermont,0,0,0,1,0,NaN,NaN,NaN,1.0,1,1,29.0,0,0,0,0.043478,1